*{
  overflow-x: hidden;
}


#logo {
  width: 10%;
  height: 10%;
}

#Section1{
  background-image: url('https://i.ibb.co/PYgtRBt/consultoria-empresarial-o-que-e-tipos-e-interacoes.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  width: 100vw;
  height: 100vh;
}