*{
  overflow-x: hidden;
  scroll-behavior: smooth;
}


#button{
  background-color: #FF4000;
}

#logo {
  width: 10%;
  height: 10%;
}

#section1{
  background-image: url('https://i.ibb.co/DVKdTGL/consultoria-empresarial-o-que-e-tipos-e-interacoes.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

#section2{
  width: 100vw;
  height: 100%;
}

#section3{
  background-color: #023047!important;
  color: white;
  width: 100vw;
  height: 50vh;
}

#section4{
  background-color: #FB8500!important;
  color: white;
}

#card1:hover, #card2:hover, #card3:hover{
  color: white;
  background-color: #219EBC;
  transition: 0.3s;

}

#cards {
  margin-left: 10vw!important;
}

@media screen and (min-width: 768px) {
  #cards{
    display: flex!important;
    margin-left: 0vw!important;
  }
}

#contato{
  background-color: #FF4000;
  text-decoration: none;
  color: white!important;
}